.App {
  text-align: center;
}
nav{
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  /* -webkit-box-shadow: 10px 10px 84px 4px rgba(0,0,0,0.8); */
  -moz-box-shadow: 10px 10px 84px 4px rgba(0,0,0,0.8);
  box-shadow: 10px 10px 84px 4px rgba(0,0,0,0.8);
}
.nav-links{
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
} 
a{
  text-decoration: none;
}
.about-div{
  padding-top: 30px;
  margin: 0px 230px;
}
body{
  background-color: blueviolet;
  color: white;
}
img{
  -webkit-box-shadow: 0px 0px 10px 8px rgba(0,0,0,0.7);
-moz-box-shadow: 0px 0px 10px 8px rgba(0,0,0,0.7);
box-shadow: 0px 0px 10px 8px rgba(0,0,0,0.7);
}
h1{
  margin-top: 50px;
}